option_settings:
    - namespace: aws:elasticbeanstalk:container:python
      option_name: WSGIPath
      Value: MozioServiceManager/wsgi.py
    - option_name: DJANGO_SETTINGS_MODULE
      Value: MozioServiceManager.settings
    - namespace : aws:autoscaling:launchconfiguration
      option_name: EC2KeyName
      Value: Test

