container_commands:
	01_syncdb:
	 command: "django-admin.py syncdb --noinput"
	 leader_only: true

option_settings:
   - namespace: aws:elasticbeanstalk:container:python
     option_name: WSGIPath
     Value: MogioServiceManager/wsgi.py
  -  option_name: DJANGO_SETTINGS_MODULE
     Value: MogioServiceManager.settings
  -  namespace : aws:autoscaling:launchconfiguration 
     option_name: EC2KeyName
     Value: Test

 
